@{
    ViewBag.Title = "敬请期待";
    Layout = "/Views/Shared/_LayoutPage1.cshtml";
}
@section head{}
<div class="content" style="cursor:default">
    <div style="padding-left:10%;text-align:center;padding-top:10%">
        <h1>功能开发中，敬请期待！！</h1>
    </div>
</div>
