@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>页面不存在</title>
</head>
<body style="text-align:center">
    <div style="padding-top:10%">
        <h1>哎呀，页面没有找到!<a href="/Home/Index" style="text-decoration:none;">返回主页</a></h1>
    </div>
</body>
</html>
